h2 {
    margin: 1.5rem 0;
}

.ingress {
    margin-bottom: 2rem;
}

.result-Wrapper {
    display: flex;
    margin-top: 4rem;
    gap: 1rem;
}
.filtrering-Wrapper{
    flex-basis: 25%;
}

.filter-size {
    flex-basis: 25%;
    order:1;
}

.filter-Wrapper {
    margin-bottom: 24px;
}

.innlogging {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
}

.innlogging div {
    display: flex;
    align-items: center;
}

.card {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.card li {
    margin: 1rem;

}

.cardWrapper {
    color: black;
}

.pageWrapper {
    display: flex;
    margin: 2rem;
}

.paginationWrapper {
    flex-basis: 70%;
    margin: 0 2rem;
}

.pageCount {
    flex-basis: 10%;
}